<router-outlet></router-outlet>

<!-- Header Component -->
<app-header></app-header>

<!-- Hero Component -->
<app-hero></app-hero>

<!-- About Component -->
<section id="about">
  <app-about></app-about>
</section>

<!-- Experience Component -->
<section id="experience">
  <app-experience></app-experience>
</section>

<!-- Skills Component -->
<section id="skills">
  <app-skills></app-skills>
</section>

<!-- Projects Component -->
<section id="projects" style="height: 500px; position: relative">
  <app-animated-projects
    [items]="projects"
    [isTilted]="false"
    [tiltDirection]="'left'"
    [autoplay]="true"
    [autoplaySpeed]="3"
    [autoplayDirection]="'down'"
    [pauseOnHover]="true"
  ></app-animated-projects>
</section>
