<section class="py-10 bg-gray-50">
  <div class="container mx-auto px-4">
    <h2 class="section-title text-center">Skills & Technologies</h2>

    <div
      class="grid grid-cols-3 sm:grid-cols-4 md:grid-cols-6 lg:grid-cols-8 xl:grid-cols-10 gap-6 max-w-6xl mx-auto"
    >
      <!-- Languages -->
      <app-skill-icon
        link="https://isocpp.org/"
        imagePath="/assets/images/skills/cpp.png"
        altText="C++"
      >
      </app-skill-icon>

      <app-skill-icon
        link="https://www.java.com/"
        imagePath="/assets/images/skills/java.webp"
        altText="Java"
      >
      </app-skill-icon>

      <app-skill-icon
        link="https://www.python.org/"
        imagePath="/assets/images/skills/python.webp"
        altText="Python"
      >
      </app-skill-icon>

      <app-skill-icon
        link="https://developer.mozilla.org/en-US/docs/Web/JavaScript"
        imagePath="/assets/images/skills/javascript.png"
        altText="JavaScript"
      >
      </app-skill-icon>

      <app-skill-icon
        link="https://www.typescriptlang.org/"
        imagePath="/assets/images/skills/typescript.png"
        altText="TypeScript"
      >
      </app-skill-icon>

      <app-skill-icon
        link="https://developer.mozilla.org/en-US/docs/Web/HTML"
        imagePath="/assets/images/skills/html.svg"
        altText="HTML"
      >
      </app-skill-icon>

      <app-skill-icon
        link="https://developer.mozilla.org/en-US/docs/Web/CSS"
        imagePath="/assets/images/skills/css.svg"
        altText="CSS"
      >
      </app-skill-icon>

      <app-skill-icon
        link=""
        imagePath="/assets/images/skills/sql.png"
        altText="SQL"
      >
      </app-skill-icon>

      <!-- Tools/Technologies -->
      <app-skill-icon
        link="https://reactjs.org/"
        imagePath="/assets/images/skills/react.png"
        altText="React"
      >
      </app-skill-icon>
      
      <app-skill-icon
        link="https://angular.io/"
        imagePath="/assets/images/skills/angular.png"
        altText="Angular"
      >
      </app-skill-icon>

      <app-skill-icon
        link="https://tailwindcss.com/"
        imagePath="/assets/images/skills/tailwind.png"
        altText="Tailwind CSS"
      >
      </app-skill-icon>

      <app-skill-icon
        link="https://nodejs.org/"
        imagePath="/assets/images/skills/nodejs.png"
        altText="Node.js"
      >
      </app-skill-icon>

      <app-skill-icon
        link="https://flask.palletsprojects.com/"
        imagePath="/assets/images/skills/flask.webp"
        altText="Flask"
      >
      </app-skill-icon>

      <app-skill-icon
        link="https://www.djangoproject.com/"
        imagePath="/assets/images/skills/django.svg"
        altText="Django"
      >
      </app-skill-icon>

      <app-skill-icon
        link="https://supabase.com/"
        imagePath="/assets/images/skills/supabase.png"
        altText="Supabase"
      >
      </app-skill-icon>

      <app-skill-icon
        link="https://cloud.google.com/"
        imagePath="/assets/images/skills/gcp.svg"
        altText="GCP"
      >
      </app-skill-icon>

      <app-skill-icon
        link="https://www.postgresql.org/"
        imagePath="/assets/images/skills/postgresql.png"
        altText="PostgreSQL"
      >
      </app-skill-icon>

      <app-skill-icon
        link="https://github.com/"
        imagePath="/assets/images/skills/github.png"
        altText="GitHub"
      >
      </app-skill-icon>

      <app-skill-icon
        link="https://www.docker.com/"
        imagePath="/assets/images/skills/docker.png"
        altText="Docker"
      >
      </app-skill-icon>

      <app-skill-icon
        link="https://developer.android.com/studio"
        imagePath="/assets/images/skills/android-studio.png"
        altText="Android Studio"
      >
      </app-skill-icon>

      <app-skill-icon
        link="https://pytorch.org/"
        imagePath="/assets/images/skills/pytorch.webp"
        altText="PyTorch"
      >
      </app-skill-icon>

      <app-skill-icon
        link="https://pandas.pydata.org/"
        imagePath="/assets/images/skills/pandas.svg"
        altText="pandas"
      >
      </app-skill-icon>

      <app-skill-icon
        link="https://numpy.org/"
        imagePath="/assets/images/skills/numpy.svg"
        altText="NumPy"
      >
      </app-skill-icon>

      <app-skill-icon
        link="https://matplotlib.org/"
        imagePath="/assets/images/skills/matplotlib.png"
        altText="Matplotlib"
      >
      </app-skill-icon>

      <app-skill-icon
        link="https://jupyter.org/"
        imagePath="/assets/images/skills/jupyter.webp"
        altText="Jupyter"
      >
      </app-skill-icon>

      <app-skill-icon
        link="https://www.tableau.com/"
        imagePath="/assets/images/skills/tableau.svg"
        altText="Tableau"
      >
      </app-skill-icon>

      <app-skill-icon
        link="https://code.visualstudio.com/"
        imagePath="/assets/images/skills/vscode.webp"
        altText="VS Code"
      >
      </app-skill-icon>

      <app-skill-icon
        link="https://ubuntu.com/"
        imagePath="/assets/images/skills/ubuntu.svg"
        altText="Ubuntu"
      >
      </app-skill-icon>
    </div>
  </div>
</section>
